.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 500px;
  /* background-size: auto; */
  background-image: url(../../images/hero3.png);
}

.button {
  /* background-color: Transparent; */
  /* background-color: Transparent,
    rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 10%); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  border: 1px solid #ffffff;
  width: 250px;
  height: 60px;
  margin-top: 400px;
  font-weight: 600;
  font-size: 20px;
  font-family: champagne;
  color: #464646;
}

.button:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}
