@media screen and (max-width: 767px) {
  .navBarConteiner {
    /* display: none; */
    z-index: 2;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    padding: 15px 15px;

    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .navBarConteiner {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.navLink {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #000;
  text-decoration: none;
}

.navLink:not(:last-child) {
  margin-right: 50px;
}

.navLink:hover {
  border-bottom: 1px solid #000;
  color: #000;
}
