.navLink {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #000;
  text-decoration: none;
}

.navLink:not(:last-child) {
  margin-right: 50px;
}

.navLink:hover {
  border-bottom: 1px solid #000;
  color: #000;
}
