@media screen and (max-width: 767px) {
  .navBarConteiner {
    /* display: none; */
  }
}

@media screen and (min-width: 768px) {
  .navBarConteiner {
    display: flex;
  }
}

.navLink {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #000;
  text-decoration: none;
}

.navLink:not(:last-child) {
  margin-right: 50px;
}

.navLink:hover {
  border-bottom: 1px solid #000;
  color: #000;
}
