.navLink {
  border: 1px solid #000;
  text-decoration: none;
  width: calc((100% - 80px) / 4);
  display: inline-block;
  color: #000;
  font-family: champagne;
  font-weight: 500;
}

.navLink:hover {
  color: #000;
}

.button {
  width: 200px;
  border: none;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  font-family: champagne;
  color: #000;
  background-color: transparent;
}

.activeNavLink {
  border: 2px solid #000;
  text-decoration: none;
  width: calc((100% - 80px) / 4);
  display: inline-block;
  color: #000;
  font-family: champagne;
  font-weight: 500;
}

.activeNavLink:hover {
  color: #000;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .navLink {
    width: calc((100% - 40px) / 2);
  }

  .activeNavLink {
    width: calc((100% - 40px) / 2);
  }
}
